{% extends "dashboard.html.twig" %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ url('admin/dashboard') }}">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a href="{{ url('admin/posts/posts') }}">
                    Posts
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Cadastrar
            </li>
        </ol>
    </nav>
    {{ flash() }}
    <div class="card border-1 shadow-sm">
        <div class="card-body">    
            <form action="{% if post.id %}{{ url('admin/posts/edit/'~post.id) }}{% else %} {{ url('admin/posts/add') }}{% endif %}" method="post" enctype='multipart/form-data'>
            <div class="mb-3">
                <label class="form-label">Capa</label>
                <input class="form-control" name="cover" type="file" id="cover" multiple>
            </div>
                <div class="mb-3">
                    <label for="titulo" class="form-label">
                        Título
                    </label>
                    <input type="text" class="form-control" id="title" name="title" value="{{ post.title }}"></div>
                    <div class="mb-3">
                        <label class="form-label"></label>
                        <textarea name='text' class="form-control autoResizeTextarea ckeditor" id="autoResizeTextarea" id="text" rows="1">
                            {{ post.text }}
                        </textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="category_id" class="form-label">
                                    Categoria
                                </label>
                                <a href="{{ url('admin/categories/modal_categories') }}">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </a>
                                <select class="form-select" name="category_id" id="category_id">
                                    {% for category in categorias %}
                                        <option value="{{ category.id }}" {% if post.category_id == category.id %} selected{% endif %}>
                                            {{ category.title }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="status" class="form-label">
                                    Status
                                </label>
                                <select class="form-select" name="status">
                                    <option value="1" {% if post.status == '1' %} selected{% endif %}>
                                        Ativo
                                    </option>
                                    <option value="0" {% if post.status == '0' %} selected{% endif %}>
                                        Inativo
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="{% if post.id %} Atualizar {% else %} Cadastrar{% endif %}"></form>
                </div>
            </div>
        </div>
    {% endblock %}
    