{% extends "dashboard.html.twig" %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ url('admin/dashboard') }}">
                    Dashboard
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Posts
            </li>
        </ol>
    </nav>

    {{ flash() }}

    <div class="card border-0 shadow-sm">
        <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center">
            <div>
                <span class="badge rounded text-bg-secondary">
                    {{ count.posts }}
                    posts
                </span>
                <span class="badge rounded text-bg-success">
                    {{ count.postsAtivo }}
                    ativo
                </span>
                <span class="badge rounded text-bg-danger">
                    {{ count.postsInativo }}
                    inativo
                </span>
            </div>
            <a href="{{ url('admin/posts/add') }}" class="btn btn-dark" tooltip="tooltip" title="Cadastrar Post">
                Cadastrar
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table url="{{url('/')}}" class="table table-striped" style="width:100%" id="entityPost">
                    <thead>
                        <th>id</th>
                        <th>Capa</th>
                        <th>Título</th>
                        <th>Categoria</th>
                        <th>Visitas</th>
                        <th>Status</th>
                        <th>Ação</th>
                    </thead>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
