{% extends 'base.html.twig' %}
{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col-lg-9 col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h1>{{post.title}}</h1>

                    <div class="my-3">
                        <small class="text-muted">Por {{post.user.name}}, {{ post.created_at|date("d/m/Y") }} às {{ post.created_at|date("H:i") }} em {{post.category.title}}</small>
                    </div>

                    {% if post.cover %}
                    <div class="float-xl-start float-lg-none capaGrande mx-auto">
                        <div class="card border-0 me-4">
                            <a data-fancybox data-caption="{{post.title}}" class="overflow zoom " href="{{url('uploads/files/thumbs/'~post.cover)}}">
                                <img src="{{url('uploads/files/thumbs/'~post.cover)}}" alt="{{post.title}}" title="{{post.title}}"/>
                            </a>
                        </div>
                    </div>
                    {% endif %}            

                    <div class="title">
                        <p>{{post.text | raw}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            {% include'sidebar.html.twig'%}
        </div>
    </div>
</div>

{% endblock %}