{% extends "base.html.twig" %}
{% block default %}

{% include 'menu.html.twig' %}

<div class="conteudo">
    {% include 'header.html.twig' %}
    <main>
        {% block content %}  
    <h5 class="mb-3">Dashboard</h5>            

    {{ flash() }}

    <div class="row">
        <div class="col-xl-6 col-xxl-5 d-flex">
            <div class="w-100">
                <div class="row">
                  {# Init Posts #}
                    <div class="col-sm-4">
                        <div class="card border-0 shadow-sm mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h6 class="fw-bold text-secondary">Posts</h6>
                                    </div>
                                    <div class="col-auto text-secondary">
                                        <a href="{{url('admin/posts/register')}}" tooltip="tooltip" title="Listar Post">
                                            <i class="fa-solid fa-file-pen"></i>
                                        </a>                                            
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3">{{posts.total}}</h1>

                                <div class="row">
                                    <div class="col-auto">
                                        <span class="badge text-bg-success bg-opacity-10"> <span class="text-success fw-bold">{{posts.active}}</span> <span class="badge text-secondary">Ativo</span> </span>
                                    </div>
                                    <div class="col-auto">
                                        <span class="badge text-bg-danger bg-opacity-10"> <span class="text-danger fw-bold">{{posts.inactive}}</span> <span class="badge text-secondary">Inativo</span> </span>  
                                    </div>
                                </div>

                            </div>
                        </div>                                   
                    </div>
                    {# Finish Posts #}
                    
                    {# Init User #}
                    <div class="col-sm-4">
                        <div class="card border-0 shadow-sm mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h6 class="fw-bold text-secondary">Users</h6>
                                    </div>

                                    <div class="col-auto text-secondary">
                                        <a href="{{url('admin/users/users')}}" tooltip="tooltip" title="Listar Usuarios">
                                            <i class="fas fa-users"></i>
                                        </a>                                            
                                    </div>
                                </div>
                                    <h1 class="mt-1 mb-3">{{users.total}}</h1>

                                    <div class="row">
                                        <div class="col-auto">
                                            <span class="badge text-bg-success bg-opacity-10"> <span class="text-success fw-bold">{{users.active}}</span> <span class="badge text-secondary">Ativo</span> </span>
                                        </div>
                                        <div class="col-auto">
                                            <span class="badge text-bg-danger bg-opacity-10"> <span class="text-danger fw-bold">{{users.inactive}}</span> <span class="badge text-secondary">Inativo</span> </span>  
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>                                   
                        </div>
                        {# Finish Users #}

                    {# Init Categories #}
                    <div class="col-sm-4">
                        <div class="card border-0 shadow-sm mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h6 class="fw-bold text-secondary">Categories</h6>
                                    </div>

                                    <div class="col-auto text-secondary">
                                        <a href="{{url('admin/categories/categories')}}" tooltip="tooltip" title="Listar Categorias">
                                            <i class="fas fa-users"></i>
                                        </a>                                            
                                    </div>
                                </div>
                                    <h1 class="mt-1 mb-3">{{users.total}}</h1>

                                    <div class="row">
                                        <div class="col-auto">
                                            <span class="badge text-bg-success bg-opacity-10"> <span class="text-success fw-bold">{{categories.active}}</span> <span class="badge text-secondary">Ativo</span> </span>
                                        </div>
                                        <div class="col-auto">
                                            <span class="badge text-bg-danger bg-opacity-10"> <span class="text-danger fw-bold">{{users.inactive}}</span> <span class="badge text-secondary">Inativo</span> </span>  
                                        </div>
                                    </div>
                                    
                                </div>
                        </div>                                   
                    </div>
                    {# Finish Categories #}
                </div>
            </div>
        </div>

    </div>
    <div class="col-xl-6 col-xxl-7">
    <div class="card flex-fill w-100">
         Em desenvolvimento
    </div>
</div>

    {% endblock %}
</main>
    {% include 'footer.html.twig' %}
</div>

{% endblock %}