{% extends "dashboard.html.twig" %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{url('admin/dashboard')}}">
                Home
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <a href="{{url('admin/categories/categories')}}">
                Categorias
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Cadastrar
        </li>
    </ol>
</nav>
{{flash()}}
<div class="card border-0 shadow-sm">
    <div class="card-body">
        <form action="{% if categories.id %}{{url('admin/categories/edit/'~categories.id)}}{%else%}{{url('admin/categories/register')}}{%endif%}" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Título</label>
                <input type="text" name="title" id="title" value="{{categories.title}}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">Texto</label>
                <textarea name="text" id="text" class="form-control" rows="3">{{categories.text}}</textarea>
            </div>

            <div class="mb-3">
                <select class="form-select" name="status">
                <option value="1" {% if categories.status == '1' %}selected{%endif%}>Ativo</option>
                <option value="0" {% if categories.status == '0' %}selected{%endif%}>Inativo</option>
            </select>
            </div>
            
            <input type="submit" class="btn btn-primary" value="{% if categories.id %}Atualizar{%else%}Cadastrar{%endif%}">
        </form>
    </div>    
</div>
</div>
{% endblock %}